<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yourcar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourCar">
        <activity
            android:name="com.example.yourcar.controller.HomeController"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    <activity
        android:name="com.example.yourcar.controller.LoginController"/>
        <activity
            android:name="com.example.yourcar.controller.InscriptionController"/>
        <activity
            android:name="com.example.yourcar.controller.SearchCarController"/>
        <activity
            android:name="com.example.yourcar.controller.Appercu_vehiculeController"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>